h2{
    background-color: chocolate;
}
h3{
    background-color: cornflowerblue;
}
h3{
    background-color: crimson;
}
h4{
    background-color: rgb(113, 139, 0);
}
h5{
    background-color: darkgreen;
}